@import '../../style/theme.scss';

.presentation {
    display: flex;
    justify-content: space-between;
    font-family: $font;
    color: $primary-color;
    margin: 3rem 0 3rem 0;
}

.location-header-title {
    font-size: 38px;
    max-width: 90%;
    min-width: 600px;
}

.location-header-subtitle {
    font-size: 20px;
}

.location-subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.stars-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.dropdown-section {
    display: flex;
    justify-content: space-between;
}