@import '../../style/theme.scss';

.presentation {
    display: flex;
    flex-direction: column;
    font-family: $font;
    color: $primary-color;
    margin: 3rem 0 3rem 0;
}

.location-header-title {
    font-size: 38px;
    max-width: 90%;
    min-width: 600px;
}

.location-header-subtitle {
    font-size: 20px;
}

.location-subheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.tag-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.stars-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.dropdown-section {
    display: flex;
    flex-direction: column;
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    .presentation {
        flex-direction: row;
        justify-content: space-between;
    }
    .location-subheader {
        flex-direction: column;
        margin-top: 0;
    }
    .dropdown-section {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Big screen devices (1150px and above) */
@media only screen and (min-width: 1150px) {

}
 
/* Extra big screen devices (1340px and above) */
@media only screen and (min-width: 1340px) {

}