@import '../../style/theme.scss';

.notfound {
    color: $primary-color;
    font-family: $font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(67vh + 2px);
}

.notfound > h1 {
    font-size: 256px;
    font-weight: 900;
}

.notfound > p {
    font-size: 32px;
    text-align: center;
    padding-top: 2rem;
}

.link {
    margin-top: 8rem;
    cursor: pointer;
    text-decoration: none;
    color: $primary-color;
}

.link:hover {
    text-decoration: underline;
}

/* Small screen devices (550px and below) */
@media only screen and (max-width: 550px) {
    .notfound > h1 {
        font-size: 180px;
    }
    .notfound {
        height: calc(70vh + 2px);
    }

    .notfound > p {
        font-size: 28px;
    }
}

/* Small screen devices (400px and below) */
@media only screen and (max-width: 400px) {
    .notfound > h1 {
        font-size: 128px;
    }   
    .notfound > p {
        font-size: 24px;
    }
}