@import '../../style/theme.scss';

.thumbnail-box {
    height: 100%;
    min-height: 24rem;
    width: 100%;
    border-radius: 10px;
    display: flex;
    object-fit: cover;
    position: relative;
}

.thumbnail-box:hover {
    cursor: pointer;
}

.thumbnail-title {
    position: absolute;
    color: white;
    font-family: $font;
    font-size: 18px;
    height: 52px;
    width: 300px;
    margin: 20px;
    font-weight: normal;
    z-index: 1;
    top: 80%;
}

.thumbnail-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.thumbnail-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $gradient-color;
    border-radius: 10px;
}

/* Small screen devices (400px and below) */
@media only screen and (max-width: 400px) {
    .thumbnail-box {
        min-height: 18rem;
    }
    .thumbnail-title {
        top : 75%;
    }
}