@import '../../style/theme.scss';

.banner-container {
    position: relative;
    margin: 1rem 0 1rem 0;
    display: flex;
}

.banner-img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.banner-title {
    color: white;
    font-family: $font;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.banner-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.3;
    border-radius: 10px;
}

/* Small screen devices (500px and below) */
@media only screen and (max-width: 500px) {
    .banner-img {
        height: 250px;
    }
    .banner-title {
        width: 75%;
    }
}